@import './common/styles/variables';

html,
body {
  height: 100%;
  width: 100%;
  font-family: $app-font-family;
  font-size: 16px;
  color: $app-text-color;
}

#container {
  height: 100%;
  width: 100%;
  font-family: $app-font-family;
  font-size: 16px;
  color: $app-text-color;
  background: $app-background-color;

  > div {
    height: 100%;
    width: 100%;
    padding: 1em;

    >  div:first-child {
      margin-top: 2em;
    }
  }

  .app-header {
    font-size: 7rem;
  }

  .word-card-container {
    padding: 10vh 0;
  }
}
